server:
  port: 8081

spring:
  datasource:
    url: jdbc:sqlite:tasks.db
    driver-class-name: org.sqlite.JDBC

  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: update
    show-sql: true
